---
layout: default
---

<style>
  #backbtn {
    background-color: #2596be;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    overflow: hidden;
    display: none;
    cursor: pointer;
    position: fixed;
    width: 40px;
    line-height: 40px;
    bottom: 50px;
    right: 0;
  }

  #backbtn:hover {
    background-color: #DDF;
    color: #000;
  }
</style>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
<button class="material-symbols-outlined" onclick="Scrollback_topfunc()" id="backbtn" title="Scroll back to top">expand_less</button>
<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<script>
var back_top_button = document.getElementById("backbtn");

// Whenever end users scroll down 10px from the beginning of the web page, then back to top button visible
window.onscroll = function() {scrollfunc()};

function scrollfunc() {
  if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
    back_top_button.style.display = "block";
  } else {
    back_top_button.style.display = "none";
  }
}

function Scrollback_topfunc() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>